<div class="forumblock">
	  <div class="forumtitle">{{ context.forum_name }}</div>
	  <div class="forumhead"><div class="forstatus"></div><div class="fornametemes">{{ getOrderLink(['title','Тема']) }}</div><div class="foranswerteme">{{ getOrderLink(['posts','Ответы']) }}</div><div class="forviuwteme">{{ getOrderLink(['views','Просмотры']) }}</div><div class="forautorteme">Автор</div><div class="fornewposts">{{ getOrderLink(['last_post','Обновления']) }}</div></div>
      {% if themes %}
	  {% for theme in themes %} 
      <div class="forumcontent {{ theme.fps_css_class }}"><div class="forstatus"><span>{{ theme.themeicon }}</span></div><div class="fornametemes"><div class="mozilacostil"><div class="forinfoteme">{{ theme.importantly }}<a class="namefor" href="{{ theme.theme_url }}">{{ theme.title }}</a>[{{ theme.parent_forum }}]{{ theme.near_pages }}<div class="fordescriptionteme">{{ theme.description }}</div></div>{% if theme.adminbar %}<div class="moderforum">{{ theme.adminbar }}</div>{% endif %}</div></div><div class="foranswerteme">{{ theme.posts }}</div><div class="forviuwteme">{{ theme.views }}</div><div class="forautorteme">{{ theme.author.name }}</div><div class="fornewposts">{{ AtmGetDate(theme.last_post) }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}</div></div>
	  {% endfor %}
	  {% else %}
	  <div class="forumcontent">Тем еще не создано.</div>
	  {% endif %}
</div>