
	{% if closed_theme %}
        <a style="background-position: top;cursor: default;" class="newtembutton button">{{ 'Topic is closed'|lang }}</a>
	{% else %}
		<a href="{{ www_root }}/forum/view_theme/{{ theme.id }}#sendForm" class="newtembutton button">{{ 'Reply'|lang }}</a>
    {% endif %}
	<span class="meta">{{ meta }}</span>
	<div class="paginator">
       <div class="pages">{{ pagination }}</div>
    </div>
	
	<div class="forumblock">
	  <div class="forumtitle">{{ theme.title }} {{ admin_bar }}</div>
	  <div class="forumhead">
	  {% if theme.poll %}
		  <div class="">{{ theme.poll.question }}</div>
	  {% else %}
	      
	  {% endif %}
	  </div>
	  
	  {% for post in posts %}
	    <div class="forumpost" id="post{{ post.post_number }}">
	       <div class="poststarterinfo">
		      <a class="postusername" {{ editor_forum_name }}>{{ post.author.name }}</a>
			  <span class="onlinestatus">{% if post.author.status_title == 'Online' %}Online{% endif %}</span>
			  {% if post.id_author != 0 %}
		      <ul class="basic_info">
			       <li class="forstatuspost">{{ post.author.rank }}</li>
		           <li class="postavatar"><img title="{{ post.author.name }}" src="{{ post.author.avatar }}"></li>
		           <li class="forgrouppost"><span>{{ post.author.status_title }}</span></li>	
		           <li class="forpostmsguser">{{ post.author.posts }}<img class="imgmarginleft" src="{{ template_path }}/img/msguser.png"></li>
                   <li class="userpostrepa">{{ 'Reputation'|lang }}:<a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ post.author.id }}', '', 'История рейтинга ({{ post.author.name }})');">{{ post.author.rating }}</a>&nbsp;
								<div class="ratingblock" id="ratingBlock_{{ post.author.id }}" style="">
									<a href="javascript:void(0)" onClick="$('#setRating_{{ post.author.id }}').show();">-&nbsp;/&nbsp;+</a>
								</div>
				   </li>
				   <li class="postuserzamechanya">{{ 'Warning'|lang }}: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ post.author.id }}', '', '{{ 'History warnings'|lang }} ({{ post.author.name }})');"> {{ post.author.warnings }}</a>&nbsp;
								<div class="ratingblock" id="warningsBlock_{{ post.author.id }}" style="">
									<a href="javascript:void(0)" onClick="$('#addWarning_{{ post.author.id }}').show();">+</a>
								</div>   
				   </li>
				   <li>{{ 'Registration'|lang }}:<br>{{ AtmGetDate(post.author.puttime) }}</li>
			  </ul>
              {% endif %}			  
		   </div>
	       <div class="posttextuser">
	          <div class="headpostinfo"><span class="postdate">{{ 'Sent'|lang }}: {{ AtmGetDate(post.time) }}</span><a class="postidlink"href="javascript://" onClick="prompt('{{ 'Link to the message'|lang }}','{{ post.post_number_url }}');return false;">#{{ post.post_number }}</a></div>
	          <div class="posttext">{{ post.message }}</div>
			  {% if post.attachment %}
	              <div class="attaches"><div>{{ 'Attached files'|lang }}:</div>{{ post.attachment }}</div>
			  {% else %}
			  <br />
			  {% endif %}
			  {% if post.editor_info %}
			  <div class="edited">{{ post.editor_info }}</div>
			  {% endif %}
			  {% if post.id_author != 0 %}
	              <div class="usersignatureviuw">{{ post.author.signature }}</div>
			  {% endif %}
	       </div>
	       <div class="footerpostinfo">
	          <a href="#post1" id="foruptopic" class="footerpostbuttons">{{ 'Return to top'|lang }}</a>
			  {% if post.id_author != 0 %}
			  <a href="{{ www_root }}/users/info/{{ post.id_author }}" id="forpostuserlinks" class="footerpostbuttons">{{ 'Profile'|lang }}</a>
			  {% if fps_user != false %}
			  <a href="{{ www_root }}/users/pm_send_form/{{ post.id_author }}" id="forpostuserlinks" class="footerpostbuttons">{{ 'PM'|lang }}</a>
			  <a href="{{ www_root }}/users/send_mail_form/{{ post.id_author }}" id="forpostuserlinks" class="footerpostbuttons">Mail</a>
			  {% endif %}
			  {% if post.author.url %}
			  <a href="{{ post.author.url }}" id="forpostuserlinks" class="footerpostbuttons">site</a>
			  {% endif %}
			  {% endif %}
	          {% if post.edit_link %}<a href="{{ www_root }}/forum/edit_post_form/{{ post.id }}" class="footerpostbuttons">{{ 'Change'|lang }}</a>{% endif %} 
			  {% if post.delete_link %}<a onclick="return confirm('Вы уверены?')" href="{{ www_root }}/forum/delete_post/{{ post.id }}" class="footerpostbuttons">{{ 'Delete'|lang }}</a>{% endif %}<span {{ editor_forum_quote }}>{{ 'To quote'|lang }}</span>
			  
			  {% if checkAccess(['forum', 'edit_themes']) or checkAccess(['forum', 'delete_themes']) %}
			  <input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ post.id }}" />
			  {% endif %}
	       </div>
	    </div>
		
		<div id="setRating_{{ post.author.id }}" class="fps-fwin" style="display:none;">
			<div class="drag_window">
				<div class="fps-title" onmousedown="drag_object(event, this.parentNode)">{{ 'The voice for'|lang }} <b>{{ post.author.name }}</b></div>
				<div onClick="$('#setRating_{{ post.author.id }}').hide()" class="fps-close"></div>
				<div class="fps-cont">
					<form id="ratingForm_{{ post.author.id }}">
						<input type="radio" name="points" value="1" /><b>+1</b><br />
						<input type="radio" name="points" value="0" /><b>0</b><br />
						<input type="radio" name="points" value="-1" /><b>-1</b><br />
						<textarea name="comment"></textarea><br />
						<input type="button" value="Отправить" onClick="setRating({{ post.author.id }}, 'ratingForm_{{ post.author.id }}');" />
					</form>
					<div id="infomess_{{ post.author.id }}"></div>
				</div>
			</div>
			</div>


			<div id="addWarning_{{ post.author.id }}" class="fps-fwin" style="display:none;">
			<div class="drag_window">
				<div class="fps-title" onmousedown="drag_object(event, this.parentNode)">{{ 'Note for'|lang }} <b>{{ post.author.name }}</b></div>
				<div onClick="$('#addWarning_{{ post.author.id }}').hide()" class="fps-close"></div>
				<div class="fps-cont">
					<form id="warningForm_{{ post.author.id }}">
						<fieldset>
							<legend><b>{{ 'Action'|lang }}</b></legend>
							<input type="radio" name="points" value="1">[+]{{ 'To increase the level of comments'|lang }}<br />
							<input type="radio" name="points" value="-1">[-]{{ 'Lowering the number of observations(remove the ban)'|lang }}<br />
						</fieldset>
						<fieldset>
							<legend><b>{{ 'Reason'|lang }}</b></legend>
							<textarea style="width:96%;" name="cause"></textarea>
						</fieldset>
						<fieldset>
							<legend><b>{{ 'Ban'|lang }}</b></legend>
							<input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
							<select style="width:80px;margin:2px;" name="mult">
								<option value="h">{{ 'Hours'|lang }}</option>
								<option value="d">{{ 'Days'|lang }}</option>
								<option value="w">{{ 'Weeks'|lang }}</option>
								<option value="m">{{ 'Months'|lang }}</option>
								<option value="y">{{ 'years'|lang }}</option>
							</select>
							<input type="checkbox" name="permanently" value="1" />{{ 'Forever'|lang }}
						</fieldset>
						<fieldset>
							<legend><b>{{ 'Notification'|lang }}</b></legend>
							<input type="checkbox" name="noticepm" value="1" />{{ 'Private messages'|lang }}
						</fieldset>
						<fieldset>
							<input type="button" value="Отправить" onClick="addWarning_({{ post.author.id }}, 'warningForm_{{ post.author.id }}');" />
						</fieldset>
					</form>
					<div id="winfomess_{{ post.author.id }}"></div>
				</div>
			</div>
			</div>
			{% endfor %}
		
	</div>
	{% if checkAccess(['forum', 'edit_themes']) or checkAccess(['forum', 'delete_themes']) %}
	<div>
		<select id="packAction">
			<option value="/forum/delete_posts_pack/">{{ 'Delete'|lang }}</value>
			<option value="/forum/move_posts_form/{{ theme.id }}">{{ 'Move'|lang }}</value>
		</select>
		<input id="packButton" type="button" disabled="disabled" onClick="sendPack($('#packAction').val());" value="(0)">
		<div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
	</div>
	{% endif %}
	<div class="mezdyblock">
	     <div class="paginator">
            <div class="pages">{{ pagination }}</div>
         </div>
	</div>
	
	{{ reply_form }}