{{ editor_body }}



<script language="JavaScript" type="text/javascript">

function pollForm(element) {
	if (!$(element).is(':checked')) {
		$('#poll_question').hide();
		$('#poll_ansvers').hide();
	} else {
		$('#poll_question').show();
		$('#poll_ansvers').show();
	}
}
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="return checkForm(this)">
<table border="0"  class="add-form reply" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td colspan="3" class="title">Новая тема</td>
	<tr>
	<tr>
		<td width="0%" rowspan="4" valign="top">

		</td>
		<td>
			<table style="width:100%;" class="">
				<tr>
					<td>Заголовок темы:</td>
					<td align="right" class="right"><input type="text" name="theme" maxlength="128" value="{{ context.theme }}" style="width:400px"></td>
				</tr>
				<tr>
				  <td>Описание:</td>
				  <td align="right" class="right"><input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:400px" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<textarea id="editor" {{ editor_text }} class="text-area" name="mainText" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{{ context.main_text }}</textarea>
					</td>
				</tr>
				<tr>
					<td>Закрыть доступ:</td>
					<td class="right" align="right">

						{% for group in context.users_groups %}
						<input type="checkbox"
							{% for curr in context.gr_access %}
								{% if curr == group.id %}
								 checked="checked" 
								{% endif %}
							{% endfor %}
						  value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}<br />
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td align="left" class="gTableRight">
						<div id="attachments">
							<input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
							<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
						</div>
					</td>
				</tr>
				
				<tr>
					<td>
						Добавить опрос:
					</td>
					<td>
						<input type="checkbox" name="poll" value="1" onClick="pollForm(this);" />
					</td>
				</tr>
				<tr id="poll_question" style="display:none;">
					<td>
						Тема опроса:
					</td>
					<td>
						<input style="width:100%; padding: 2px;" type="text" name="poll_question" />
					</td>
				</tr>
				<tr id="poll_ansvers" style="display:none;">
					<td>
						Варианты ответов(каждый с новой строки):
					</td>
					<td>
						<textarea name="poll_ansvers" style="width:100%; height:200px;"></textarea>
					</td>
				</tr>
				
				<tr>		
					<td>Закрепить первое сообщение темы:</td>
					<td><input type="checkbox" name="first_top" value="1" /></td>
				</tr>

				<tr>
					<td colspan="2">
						<input class="subm" type="submit" name="submitForm" value="Отправить" />
						<input class="subm" type="submit" name="viewMessage" value="Предварительный просмотр" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
