
{{ editor_body }}

<script>
function sendPM() {
    $('#send_pm_a').hide();
    $('#pm_send_form').show();
}
</script>

<div class="material">
	  <div class="mat-title">Беседа с {{ collocutor.name }}</div>
	  <div class="mat-content">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 <li class="active"><a href="{{ www_root }}/users/pm/">Личные сообщения</a></li>
				 <li><a href="{{ www_root }}/users/pm_send_form/">Отправить ЛС</a></li>
				 <li><a href="{{ www_root }}/users/send_mail_form/{{ collocutor.id }}">Отправить на почту</a></li>
		  </ul>
	      <div class="userinfo">
		    <ul class="userlist">
			   <li class="sendbutton" id="send_pm_a" onclick="sendPM()">Развернуть форму для ответа</li>
			   <li id="pm_send_form" style="display: none;overflow: visible;">
			      <form name="sendForm" id="sendForm" action="/users/send_pm" method="POST" enctype="multipart/form-data">
			         <textarea {{ editor_text }} class="text-area" name="mainText"></textarea>
			         <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.interlocutor }}" style="display: none" />
			         <input class="subm" type="submit" name="submitForm" value="Отправить" />
                  </form>
			   </li>
			
		     {% if messages %}
             {% for message in messages %}
                <li {% if message.viewed != 1 %}class="send"{% endif %}>
                   <div class="userlistavatar"><img src="{% if message.direction == 'in'  %} {{ getAvatar(collocutor.id) }} {% else %} {{ getAvatar(fps_user_id) }} {% endif %}" class="avatar"></div>
                    <div class="listuser">
                          <ul class="listuserbuttons">
                              <li>{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.id }}" /></li>
                          </ul>
                          <h3 class="userlisttitle">
                          {% if message.direction == 'in'  %}
                          <a href="{{ www_root }}/users/info/{{ collocutor.id }}">{{ collocutor.name }}
                          {% else %}
                          <a style="color: #787C88;text-decoration: none;cursor: default;">{{ fps_user_name }}</a>
                          {% endif %}
                          </h3>
                          <div class="text">
                            {{ message.message }}
                          </div>
                          <div>
                               <span>{{ message.sendtime }}</span>
                          </div>
                    </div>
                </li>
			{% endfor %}
            {% endif %}
			
	           <li>	
			     Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/pm_delete_pack/');" value="(0)">
	            <div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
	           <li>
           </ul>	
	      </div>
	  </div>
    </div>