{% if commentsr %}
{% for comment in commentsr %}
<div class="comment-container">
	<div class="title">{{ comment.add_markers.name_a }}<span>{{ comment.date }}</span><div style="float:right;">{{ comment.add_markers.moder_panel }}</div></div>
	<div class="view">
		{{ comment.add_markers.avatar }}
		{{ comment.add_markers.message }}
		{% if comment.entry_url %}<a href="{{ comment.entry_url }}">Перейти к материалу...</a>{% endif %} 
		<div class="clear"></div>
	</div>
</div>
{% endfor %}
{% endif %}