<table cellpadding="0" cellspacing="0" class="material user-tb">
    <tr>
        <td class="title" colspan="5">Список участников форума</td>
    </tr>
    <tr>
        <td class="title3">Пользователь</td>
        <td class="title3" width="20%">Статус</td>
        <td class="title3" width="25%">Зарегистрирован</td>
        <td class="title3" width="5%">Сообщения</td>
        <td class="title3" width="10%">ЛС</td>
    </tr>

    {% if entities %}
        {% for user in entities %}
        <tr>
            <td class="userName">{{ user.add_markers.user_name }} <div style="float:right;">{{ user.add_markers.moder_panel }}</div></td>
            <td class="gTableBody1" align="center">{{ user.add_markers.status }}</td>
            <td class="puttime" align="center">{{ user.puttime }}</td>
            <td class="gTableBody1" align="center" style="white-space: nowrap;">{{ user.posts }}</td>
            <td class="gTableBody1" align="center" style="white-space: nowrap;">{{ user.add_markers.pm }}</td>
        </tr>
        {% endfor %}
    {% endif %}

    <tr>
        <td class="meta" align="center" colspan="5">
            Сортировать по:&nbsp;&nbsp;
            <a href="?sort=puttime">Дата регистрации</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?sort=name">Имя</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?sort=last_visit">Последний визит</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?sort=status">Статус</a>
        </td>
    </tr>
</table>