<!--{#
Use as included part of template.
Build an input node based on the incoming data. 

For inspect an any variable use "show" filter as shown below:
{{ context.entities|show }}

It represents a variable the same way as the "var_dump" function in PHP.

More details & documentation are located at http://atomx.net/stat/category/27/.

This context should be setup in the parent template 
befpre including that file.
- name (string)
- field (array)
#}-->
<div class="field">			
	<label for="{{ field.title|escape }}">{{ field.title|lang('shop')|escape }}</label>
	
	{# input text #}
	{% if field.input_type == '' %}
	
		<input 
			id="{{ field.title|escape }}" 
			placeholder="{{ field.title|lang('shop')|escape }}" 
			type="text" 
			name="{{ name|escape }}" 
			value="{{ field.value|escape }}" 
		/>
	
	{# textarea #}
	{% elseif field.input_type == 'textarea' %}
	
		<textarea 
			id="{{ field.title|escape }}" 
			placeholder="{{ field.title|lang('shop')|escape }}" 
			name="{{ name|escape }}"
		>{{ field.value|escape }}</textarea>
		
	{# select #}	
	{% elseif field.input_type == 'select' %}
	
		<select
			{% if name == 'delivery_type' %} class="atm_shop-delivery_type_selector" {% endif %}
			name="{{ name|escape }}"
		>
		{% if field.dataset|typeof == 'array' and field.dataset %}
			{% for row in field.dataset %}
				<option value="{{ row.id|escape }}">{{ row.title|lang('shop')|escape }}</option>
			{% endfor %}
		{% else %}
			<option value=""></option>
		{% endif %}
		</select>
				
	{% endif %}
</div>
