<!--{#
For inspect an any variable use "show" filter as shown below:
{{ context.entity|show }}

It represents a variable the same way as the "var_dump" function in PHP.

More details & documentation are located at http://atomx.net/stat/category/27/.

Current context:
- context (array)
- - entity (array)
#}-->
{% set entity = context.entity %}
<article class="product">
    <header>
        <h1>{{ entity.title|escape }}</h1>
    </header>
    <div class="image">
        {% if entity.attaches|count > 0 %}
        <img src="/image/shop/{{ entity.attaches[0].filename }}/250/" title="{{ entity.title|escape }}" />
        {% else %}
        <img src="{{ www_root }}/sys/img/noimage.jpg" style="max-width:250px;" title="No image" />
        {% endif %}
    </div>
    <div class="common-info">
        <div class="price">
            <div class="product-price">
                {% if entity.final_price != entity.price %}
                <span class="product-new-price">{{ entity.final_price|num_format(2, ',', ' ') }}</span>
                <span class="product-old-price">{{ entity.price|num_format(2, ',', ' ') }}</span>
                {% else %}
                <span class="">{{ entity.final_price|num_format(2, ',', ' ') }}</span>
                {% endif %}
            </div>
            <button class="buy-button atm_shop-add_to_basket">{{ 'Add to basket'|lang('shop') }}</button>
            <!--Add to basket modal window-->
            <section class="shop-modal-window" style="display:none;">
                <header>
                    <h1>{{ 'Adding to the basket'|lang('shop') }}</h1>
                </header>
                <table class="products">
                    <tr>
                        <td class="image">
                            {% if entity.attaches|count > 0 %}
                            <img src="/image/shop/{{ entity.attaches[0].filename }}/100/" title="{{ entity.title|escape }}" />
                            {% else %}
                            <img src="{{ www_root }}/sys/img/noimage.jpg" title="No image" />
                            {% endif %}
                        </td>
                        <td class="title">{{ entity.title|escape }}</td>
                        <td class="product-price">
                            {% if entity.final_price != entity.price %}
                            <span class="product-new-price">{{ entity.final_price|num_format(2, ',', ' ') }}</span>
                            <span class="product-old-price">{{ entity.price|num_format(2, ',', ' ') }}</span>
                            {% else %}
                            <span>{{ entity.final_price|num_format(2, ',', ' ') }}</span>
                            {% endif %}
                        </td>
                        <td><input type="text" name="quantity" value="1" /></td>
                    </tr>
                </table>
                <button data-product-id="{{ entity.id }}" class="button atm_shop-put_to_basket">{{ 'Add to basket'|lang('shop') }}</button>
                <button class="button atm_shop-cancel_basket">{{ 'Cancel'|lang }}</button>
            </section>
            <!--/Add to basket modal window-->
        </div>
        <div class="attrs">
            {% for key, attr in entity.attributes %}
                {% if key <= 10 %}
                    <span>{{ attr.label|lang|escape }}</span>: {{ attr.content.content|escape }}&nbsp;/&nbsp;
                    <span>{{ attr.label|lang|escape }}</span>: {{ attr.content.content|escape }}&nbsp;/&nbsp;
                    <span>{{ attr.label|lang|escape }}</span>: {{ attr.content.content|escape }}&nbsp;/&nbsp;
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <section class="tabs">
        <header>
            <div class="tab-switcher active" data-tab="description">{{ 'Description'|lang }}</div>
            <div class="tab-switcher" data-tab="characteristics-of">{{ 'characteristics-of'|lang('shop') }}</div>
            <div class="tab-switcher" data-tab="comments">{{ 'Comments'|lang }}</div>
            <div class="clear"></div>
        </header>
        <section id="tab-description" class="tab active">{{ entity.description|escape }}</section>
        <section id="tab-characteristics-of" class="tab">
            <div class="characteristics-of">
                {% for key, attr in entity.attributes %}
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                <span class="left">{{ attr.label|lang|escape }}</span>: <span class="right">{{ attr.content.content|escape }}</span><br />
                {% endfor %}
            </div>
        </section>
        <section id="tab-comments" class="tab comments">
            <div class="paginator"><div class="pages">{{ comments_pagination }}</div></div>
            {{ comments }}
            <div class="paginator"><div class="pages">{{ comments_pagination }}</div></div>
            {{ comments_form }}
        </section>

    </section>

</article>