<!--{#
For inspect an any variable use "show" filter as shown below:
{{ context.entities|show }}

It represents a variable the same way as the "var_dump" function in PHP.

More details & documentation are located at http://atomx.net/stat/category/27/.

- context (array)
- - entities (array)
- - total (int)
- - fields (array)
- - delivery_types (array)
- - errors (string)
- - action (string)
#}-->

{{ context.errors }}
<section class="order-form">
	<header>
		<h1>{{ 'Completing order'|lang('shop') }}</h1>
	</header>
    <form action="{{ context.action }}" method="POST">
    {% if context.entities %}
		<table class="products">
        {% for entity in context.entities %}
			<tr>
				<td class="image">
					{% if entity.attaches|count > 0 %}
					<img src="/image/shop/{{ entity.attaches[0].filename }}/100/" title="{{ entity.title|escape }}" />
					{% else %}
					<img src="{{ www_root }}/sys/img/noimage.jpg" title="No image" />
					{% endif %}
				</td>
				<td class="title">{{ entity.title|escape }}</td>
				<td class="product-price">
					{% if entity.final_price != entity.price %}
					<span class="product-new-price">{{ entity.final_price|num_format(2, ',', ' ') }}</span>
					<span class="product-old-price">{{ entity.price|num_format(2, ',', ' ') }}</span>
					{% else %}
					<span>{{ entity.final_price|num_format(2, ',', ' ') }}</span>
					{% endif %}
					&nbsp;x&nbsp; {{ entity.quantity }}
				</td>
				<td><button>{{ 'Delete'|lang }}</button></td>
			</tr>
        {% endfor %}
		</table>
        <h3 class="total-sum">{{ 'Total sum'|lang('shop') }}: <span class="sum">{{ context.total }}</span></h3>

		
		<section class="order-fields">
			<h3>{{ 'Please fill in fields for create order' }}</h3>
			{#{{ context.fields|show }}#}
			{% for name, params in context.fields %}
			<div class="field">
				{{ params.func }}
				<label for="{{ params.label|escape }}">{{ params.label|lang('shop')|escape }}</label>
				{% if params.type == '' %}
				<input id="{{ params.label|escape }}" type="text" name="{{ name|escape }}" value="{{ params.value|escape }}" />
				{% elseif params.type == 'textarea' %}
				
				{% elseif params.type == 'select' %}
				
				{% endif %}
			</div>
			{% endfor %}
			<div class="clear"></div>
			<input type="submit" name="send" value="{{ 'Buy'|lang('shop') }}">
		</section>
    {% else %}
        {{ 'Basket is empty'|lang('shop') }}
    {% endif %}
    </form>
</section>