<div class="material">
      <div class="mat-title"><a href="{{ entity.add_markers.entry_url }}">{{ entity.title|escape }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	  <div class="mat-content">
		    <div class="main_text margin">{{ entity.add_markers.main_text }}</div>
            <div class="infomats">
		        <div class="namesmats"><b class="title">{{ entity.title|escape }}</b>
				<br />
				<b>{{ 'Added'|lang }}: </b>{{ AtmGetDate(entity.date) }}<br />
				{% if entity.tags %}
				<br /><b>{{ 'Tags'|lang }}: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/news/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
				{% endif %}
				{% if entity.sourse %}<br /><b>{{ 'Source'|lang }}:</b> {{ entity.sourse }}{% endif %}
				</div>
		        <div class="infomatsright">
			      <b>{{ 'Author'|lang }}:</b><a href="{{ entity.add_markers.profile_url }}"> {{ entity.author.name }}</a>
				  <br /><b>{{ 'Section2'|lang }}:</b><a href="{{ entity.add_markers.category_url }}"> {{ entity.category.title }}</a>
			      <br /><b>{{ 'Viewings'|lang }}:</b> {{ entity.views }}
				  <br /><b>{{ 'Comments'|lang }}:</b> {{ entity.comments }}
				  <br />
				  <br /><script language="JavaScript" type="text/javascript" src="{{ template_path }}/js/share.js"></script>
			    </div>
	        </div>
      </div>
</div>



