
<div class="material">
	<div class="title">{{ entity.title }}<div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	<div class="title2">Автор: <a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a>&nbsp;&nbsp;Раздел: <a href="{{ category_url }}">{{ category_name }}</a></div>
	<div class="view">
		{{ entity.add_markers.mainText }}
		{% if entity.tags %}
		<br />
		<br />
		<div>
			<b>Теги:</b>&nbsp; &nbsp; 
			{% for tag in entity.tags %}
			<a href="{{ www_root }}/news/index/{{ tag }}">{{ tag }}</a>&nbsp;|&nbsp;
			{% endfor %}
		</div>
		{% endif %}
		<div class="share-us">
			<span>Мы в соцсетях:</span>&nbsp;<script language="JavaScript" type="text/javascript" src="{{ www_root }}/sys/js/share.js"></script><br /><br />
		</div>
	</div>
	<div class="meta">
		<div class="icon-views"></div> {{ entity.views }}  
		<img class="pere" alt="" src="{{ template_path }}/img/pere.png">
		<div class="icon-data"></div> {{ entity.date }}
		<img class="pere" alt="" src="{{ template_path }}/img/pere.png">
		<div class="icon-comments"></div> {{ entity.comments }}
		<img class="pere" alt="" src="{{ template_path }}/img/pere.png">Источник: {{ entity.sourse }}
	</div>
</div>



