<div class="material">
	  <div class="mat-content">
	  <div class="photos_albums_container">
      {% for entity in entities %}
	  <div class="photo_row"><div class="cont">
          <a href="{{ entity.add_markers.entry_url }}" class="img_link" >
		      <img alt="{{ entity.add_markers.foto_alt }}" src="{{ get_url('/image/' ~ module ~ '/' ~ entity.filename ~ '/200/') }}" />
			  <div class="photo_album_info">
				 <b>{{ 'Author'|lang }}: 
				 <a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a>
				 </b>
              </div>
			  
		      {% if entity.add_markers.moder_panel %}
		      <div class="photo_album_mp">
                 {{ entity.add_markers.moder_panel }}
              </div>
		      {% endif %}
			 
              <span class="photo_album_title">
                    <span class="ge_photos_album fl_l" title="{{ 'Photo title'|lang }}: {{ entity.title }}">{{ entity.title }}</span>
                    <span class="camera fl_r" title="{{ 'Viewings'|lang }}: {{ entity.views }}">{{ entity.views }}</span>
              </span>
          </a>
       </div>
       </div>
      {% endfor %}  
	  </div>
	  </div>
</div>