/* Possible move to common Atom styles */
#main-overlay {display:none; position:absolute; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.7);}

/* Common components */
.buy-button {float:right; font-size:13px; line-height:13px; background:#86ab26; color:#fff; border:1px solid #769B16; border-radius:4px; padding:1px 5px; cursor:pointer; box-shadow:0px -9px 2px #769B16 inset; height:auto; min-width:auto; text-transform:none;}
.buy-button:hover {box-shadow:0px -7px 3px #a6cb46 inset; background:#769B16; border:1px solid #769B16;}

/* Mini cart */
.mini-basket {height:28px; text-align:left; display:inline-block; position:relative;}
.mini-basket * {font-family:ArialNarrow,Arial,sans-serif;}
.mini-basket .wrapper {display:none; font-size:14px;}
.mini-basket .total {float:left; color:#3c3c3c; font-size:14px;}
.mini-basket .total .sum {color:#eb3f3f; font-weight:bold; margin-right:20px;}
.mini-basket .buy-button {color:#fff; font-size:14px; width:auto; padding:5px; margin:0px -12px -8px 0px; display:block; float:right; background:#769B16; border:none; border-radius:5px 0px 5px 0px; box-shadow:none;}
.mini-basket.active {width:250px; height:20px;}
.mini-basket.active a {display:none;}
.mini-basket.active * {text-shadow:none;}
.mini-basket.active .wrapper {width:230px; padding:0px 10px 5px 10px; background:#ddd; border:2px solid #769B16; border-top:none; border-radius:0px 0px 5px 5px; box-shadow:0px 2px 2px #333; position:absolute; left:0px; top:0px; display:block; color:#3c3c3c; font-size:14; line-height:20px;}

/* Filters block */
#atm-products-filters h4 {margin:10px 0px 5px 10px;}
#atm-products-filters .filter-item {padding:0px 0px 0px 20px;}
#atm-products-filters .filter-item > label {width: 150px; display:inline-block; font-size:12px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#769B16;}

/* Products List */
.catalog {}
.catalog .product-item {width:200px; height:300px; margin:15px; float:left; font-size:14px;}
.catalog .product-item .product-image {width:150px; height:150px; margin:auto; margin-bottom:20px;}
.catalog .product-item .product-image img {max-width:150px;}

/* Expand product info by hovering */
.catalog .product-item .product-description{height:30px; overflow:hidden; background:#fff; position:relative; margin-top: 10px;}
.catalog .product-item:hover .product-description{height:auto;}
.catalog .product-item .product-item-overlay {height:300px; padding:12px;}
.catalog .product-item:hover .product-item-overlay {height:auto; border:2px solid #cacaca; border-radius:5px; padding:10px; background:#fff;}
.catalog .product-item h2 {font-size:16px; font-weight:normal; color:#777; text-decoration:underline;}
.catalog .product-item h2:hover {color:#333;}
.catalog .product-item a.title {text-decoration:none;}

.product-new-price {font-size:20px; font-weight:bold; color:#f75; position:relative; float:left;}
.product-price {font-size:20px; font-weight:bold; color:#769b16; position:relative; float:left;}
.product-old-price {font-size:15px; font-weight:bold; color:#769b16; text-decoration:line-through; position:absolute; left:-11px; top:-13px;}

.catalog .product-item .product-footer {height:40px; width:100%; position:relative; top:-16px;  background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0), #fff 40%, #fff 60%, rgba(255, 255, 255, 0));}

/* View product */
article.product {width:calc(100% - 30px); padding:15px;}
article.product .image {width:250px; margin:20px; float:left;}
article.product .common-info {width:35%; padding:0px 20px; float:left; text-align:left;}
article.product .common-info .product-new-price {font-size:30px; letter-spacing: 1px; float:none;}
article.product .common-info .product-price {font-size:30px; letter-spacing: 1px;}
article.product .common-info .product-price  .label {font-size:25px; letter-spacing: -1px;}
article.product .common-info .product-old-price {font-size:20px; left:60px; top:-16px; color:#888;}
article.product .common-info .buy-button {font-size:20px; padding:7px 10px; text-shadow:none !important; color:#fafafa;}
article.product .common-info .attrs {width:100%; font-size:15px; padding:15px 0px;}

article.product .tabs {width:100%;}
article.product .tabs {width:100%; position:relative;}
article.product .tabs header {padding:0px 30px;}
article.product .tabs .tab-switcher {padding:5px 15px; margin:0px 2px; font-size:15px; color:#777; border:1px solid #769b16; border-bottom:none; border-radius:5px 5px 0px 0px; float:left; background:#fff; z-index:999; cursor:pointer;}
article.product .tabs .tab-switcher.active {color:#fafafa; background:#769b16;}
article.product .tabs .tab {padding:2% 3%; border-top:3px solid #769b16; display:none; z-index:1; line-height:25px;}
article.product .tabs .tab.active {display:block;}

article.product .characteristics-of {min-width:20%; float:left;}
article.product .characteristics-of .left {float:left;}
article.product .characteristics-of .right {float:right;}
article.product .characteristics-of  .row {padding:5px 0px;}

article.product .comments {min-width:30%; float:left;}
article.product .comments .material {max-width:600px; !important;}
article.product .comments li, article.product .comments .material {background:none !important; background-color:inherit !important; border:none !important; border-radius:0px !important; box-shadow:none !important; margin:0px !important; padding:0px !important;}
article.product .comments input[type="text"] {width:70% !important;}
article.product .comments .siu_title {width:20% !important;}
article.product .comments .siu_title, article.product .comments .siu_data {margin:5px !important;}
article.product .comments .comment-block {margin:20px 0px !important;}

/* Order form */
.order-form {width:100%; max-width:700px; padding:15px;}
.order-form h1, .order-form h3 {border-bottom: 3px solid #769b16; padding-bottom:5px;} 
.order-form h3 {font-size:17px; color:#333;}
.order-form .total-sum {border:none;}
.order-form .total-sum .sum {color:#769b16;}
.order-form .order-fields {margin-top:40px; width:100%;}
.order-form .field {clear:both; padding:5px 0px;}
.order-form .field label {float:left;}
.order-form .field input {float:right;}

/* Modal window & product rows */
.shop-modal-window {width:50%; padding:15px; height:auto; background:#fff; border:3px solid #769B16; border-radius:10px; position:fixed; top:15%; left:0px; right:0px; margin:0px auto; z-index:9999;}
.shop-modal-window h1 {padding:0px 15px 5px 5px; margin:0px -15px 10px -15px; border-bottom:3px solid #ddd;}

table.products {width:100%;}
table.products tr td {padding:15px 10px;}
table.products tr td.image {width:100px; margin:0px;}
table.products tr td.title {font-size:20px; color:#333;}
table.products tr td img {max-width:100px;}
table.products tr td.product-price {font-size:17px; font-weight:bold; color:#769b16; position:relative; float:none;}
table.products tr td.product-price .product-new-price {font-size:30px; letter-spacing: 1px; float:none;}
table.products tr td.product-price .product-old-price {font-size:20px; left:-10px; top:28px; color:#888;}



